<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 水果庄园管理后台</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("水果庄园管理后台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav visible-xs">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("产品", "Index", "Goods")</li>
                    <li>@Html.ActionLink("订单", "Index", "Orders")</li>
                    <li>@Html.ActionLink("关于我们", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">报表<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">财务报表</a></li>
                            <li><a href="#">销售报表</a></li>
                            <li><a href="#">产品报表</a></li>
                            <li class="divider"></li>
                            <li><a href="#">资产统计</a></li>
                            <li class="divider"></li>
                            <li><a href="#">用户统计</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
    </div>
    <ol class="breadcrumb">
        @foreach (var n in @Html.ViewContext.RouteData.Values)
        {
            if (n.Key == "action")
            {
                <li class="active">@n.Value</li>
            }
            else if (n.Key == "controller")
            {
                <li><a href='@Url.Action("Index")'>@n.Value</a></li>
            }
        }
    </ol>
    <div class="hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li>@Html.ActionLink("主页", "Index", "Home")</li>
            <li>@Html.ActionLink("产品", "Index", "Goods")</li>
            <li>@Html.ActionLink("订单", "Index", "Orders")</li>
            <li>@Html.ActionLink("关于我们", "About", "Home")</li>
            <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">报表<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">财务报表</a></li>
                    <li><a href="#">销售报表</a></li>
                    <li><a href="#">产品报表</a></li>
                    <li class="divider"></li>
                    <li><a href="#">资产统计</a></li>
                    <li class="divider"></li>
                    <li><a href="#">用户统计</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="container body-content">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            <div class="panel-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <br />
    <footer class="text-left text-muted">
        <p>&copy; @DateTime.Now.Year - 水果庄园</p>
    </footer>

    @RenderSection("content", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        @{
            var url = HttpContext.Current.Request.Path;
        }
        $('.nav a[href="@url"]').parent().addClass("active");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
